export DEBUG_PORT=
export HOST=
export SSH_PORT=
export SENTRY_DSN=
export OBS_HOST=
export OBS_PORT=
export OBS_PASSWORD=
export STAT_PORT=
export JWT_SECRET=

export SMTP_SERVER= #unused currently
export SMTP_PORT= #unused currently
export SMTP_USER= #unused currently
export SMTP_PASSWORD= #unused currently

export VITE_API_URL= 

export DISCORD_WEBHOOK_URL=
export TOGGLE_DISCORD_NOTIFICATIONS='false'
export SRS_AUTHORIZATION_BEARER=
export RECORD_DIR= 
export RECORD_STREAM=

export LANG=
export LC_ALL=

export DB_HOST=
export DB_PORT=
export DB_PASSWORD=
export DB_NAME=
export DB_USER=