.envrc
.vscode/launch.json
.venv/

__pycache__
ffmpeg.log

QUEUE.json
sql_app.db
.env
certs/
certbot/
ShazamIO
.terraform/
docker-compose-certbot.yml
oryx/
stream-recordings/
pgdata/
pg/
**/secrets.yaml
**/setup-tailscale.sh
k8s/base/tailscale-config.yaml
logs/*
**/oryx-staging