.envrc
.vscode/launch.json
.venv/

__pycache__
ffmpeg.log

QUEUE.json
sql_app.db
.env
.env.prod
.env.staging
frontend/.env.prod
frontend/.env.staging
certs/
certbot/
ShazamIO
.terraform/
docker-compose-certbot.yml
oryx/
stream-recordings/
pgdata/
pg/
staging/
oryx-staging/
logs/
tests/e2e/logs2/
**/*/logs2/
**/*/secrets.yaml