services:
  motherstream:
    depends_on:
      - postgres
      - oryx
    build:
      context: .  
      dockerfile: Dockerfile 
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend  
      dockerfile: Dockerfile 
    restart: unless-stopped

  nginx-rtmp:
    restart: unless-stopped
    build:
      context: ./nginx-config
      dockerfile: Dockerfile

  oryx:
    depends_on:
      - nginx-rtmp
    image: ossrs/oryx:5.15.20
    restart: unless-stopped
  
  postgres:
    image: postgres:15.12
    restart: unless-stopped

