apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: motherstream

resources:
  - ../../base
  - secrets.yaml
  - network/certificates.yaml
  - network/motherstream-ingress.yaml
  - network/motherstream-backend-ingress.yaml
  - storage/persistent-volumes.yaml
  - storage/staging-postgres.yaml


patchesStrategicMerge:
  - patches/service-patches.yaml
  - patches/init-container-patches.yaml
  - configmaps/motherstream-cm.yaml
  - configmaps/oryx-config.yaml

namePrefix: staging-

images:
  - name: motherstream
    newTag: staging
  - name: frontend
    newTag: staging
  - name: nginx-rtmp
    newTag: staging

replicas:
  - name: postgres
    count: 1
  - name: motherstream
    count: 1
  - name: frontend
    count: 1

commonLabels:
  environment: staging